@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Inter";
  color: #313131;
}

a {
  text-decoration: none;
}
p {
  margin: 0px;
}
.hover-link {
  border: 1px solid #f1efea;
  background-color: #c7a45a;
  color: #ffffff;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: baseline;
  padding: 10px 40px;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}
.hover-link:hover {
  border: 1px solid #c7a45a;
  color: #313131;
  background-color: #f5f4ef;
}
.hoverlinkbg {
  border: 1px solid #f1efea;
  background-color: #c7a45a;
  color: #ffffff;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 21px;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}
.hoverlinkbg:hover {
  border: 1px solid #c7a45a;
  color: #313131;
  background-color: #f5f4ef;
}

.paddingt {
  padding-top: 60px;
}
.paddingb {
  padding-bottom: 60px;
}

/* Hero */
.hero {
  background-image: url("../img/home/herogroup.jpg");
  background-size: cover;
  background-position: center;
}
.hero-overlay {
  background: rgba(0, 0, 0, 0.45);
  min-height: 100%;
}
.vh100 {
  min-height: 85vh;
}
.hoverlinklt {
  border: 1px solid #c7a45a;
  background-color: #c7a45a;
  color: #ffffff;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  padding: 10px 30px;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}

.hoverlinklt:hover {
  border: 1px solid #f1efea;
  background-color: transparent;
}

.hoverlink {
  border: 1px solid #f1efea;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  display: block;
  margin-top: 10px;
  padding: 10px 30px;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}
.hoverlink:hover {
  border: 1px solid #c7a45a;
  background-color: #c7a45a;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display";
}
button.hoverlinklt {
  cursor: pointer;
  border: 1px solid #c7a45a;
  margin-bottom: 0;
}
/* Hero End*/
/* Core Business Operations */
.core {
  background-color: #f5f5f5;
}

.core-item {
  background-color: #ffffff;
  padding: 30px;
  margin: 15px 0px;
  border-radius: 90px 0px 90px 0px;
  height: auto;
  box-shadow: 10px 10px 10px #f1edf9;
  border: 2px solid #f1edf9;
}
/* Core Business Operations */
/* Trust Surma Group */
.trust {
  background-color: #4c2c92;
  color: #ffffff;
}
.trust-icon {
  border: 1px solid #f5f4ef;
  padding: 20px;
  margin: 10px 0px;
  border-radius: 10px;
}
/* Trust Surma Group */
/* News */
.newspost {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 0px #00000012;
}
.newspostimg {
  position: relative;
}
.postionbox {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  padding: 5px 15px;
  border-radius: 0px 10px 0px 0px;
}
i.bi.bi-calendar-week {
  color: #c7a45a;
}
.newspostcontent {
  padding: 15px 15px 25px;
  color: #313131;
}
.downborder {
  border-bottom: 0.5px solid var(--blue-Color, #2f3192);
}
/* News */
/* Footer */
.topFooter {
  background-image: url("../img/home/footer.png");
  background-size: cover;
  background-position: center;
}
.topFootercolor {
  background-color: #1f1fd98f;
  color: #ffffff;
  padding: 40px 0px;
}

.subscribe-box {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 50px;
  padding: 6px;
  width: auto;
}

.subscribe-box input {
  border: none;
  outline: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 50px;
  width: 100%;
}

.subscribe-box button {
  border: none;
  outline: none;
  padding: 10px 10px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  background: #4c2c92;
  border-radius: 40px;
  cursor: pointer;
  transition: background 0.3s ease;
  position: absolute;
  right: 10px;
}
.subscribe-box button:hover {
  background: #3b2275;
  color: #ffffff;
}

/* Footer */

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .hoverlinklt {
    border: 1px solid #c7a45a;
    background-color: #c7a45a;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
  }

  .hoverlinklt:hover {
    border: 1px solid #f1efea;
    background-color: transparent;
  }

  .hoverlink {
    border: 1px solid #f1efea;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
  }
  .hoverlink:hover {
    border: 1px solid #c7a45a;
    background-color: #c7a45a;
  }
  .paddingt {
    padding-top: 100px;
  }
  .paddingb {
    padding-bottom: 100px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .vh100 {
    height: 100vh;
  }
  .core-item {
    background-color: #ffffff;
    padding: 30px;
    margin: 15px 0px;
    border-radius: 90px 0px 90px 0px;
    height: 290px;
    box-shadow: 10px 10px 10px #f1edf9;
    border: 2px solid #f1edf9;
  }
  .bfwa {
    color: #4c2c92;
    position: relative;
  }
  .bfwa::before {
    content: "";
    height: 1px;
    width: 20%;
    background: #000;
    position: absolute;
    left: 30%;
    bottom: 0;
    top: 15px;
  }

  .bfw {
    color: #313131;
    position: relative;
  }
  .bfw::before {
    content: "";
    height: 1px;
    width: 20%;
    background: #4c2c92;
    position: absolute;
    left: 0;
    top: 0;
  }

  .bfww {
    color: #ffffff;
    position: relative;
  }
  .bfww::before {
    content: "";
    height: 1px;
    width: 20%;
    background: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
  }
  .topFootercolor {
    padding: 80px 0px;
  }
  .subscribe-box button {
    padding: 10px 30px;
    font-size: 16px;
    font-weight: normal;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
